default:
  tags:
    - '${RUNNERS_TAG}'

stages:
  - build
  - deploy

include:
  - local: /ci-templates/build-template.yml
  - local: /ci-templates/deploy-template.yml

build-document-crud-integ:
  stage: build
  extends: .build-image
  variables:
    ENV: 'integ'
    VERSION: '${CI_PIPELINE_IID}'
    MICROSERVICE: 'document-crud'
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - apps/document-crud/**/*
        - packages/**/*

build-document-crud-prod:
  stage: build
  extends: .build-image
  variables:
    ENV: 'prod'
    VERSION: '${CI_PIPELINE_IID}'
    MICROSERVICE: 'document-crud'
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - apps/document-crud/**/*
        - packages/**/*

build-document-map-creator-integ:
  stage: build
  extends: .build-image
  variables:
    ENV: 'integ'
    VERSION: '${CI_PIPELINE_IID}'
    MICROSERVICE: 'document-map-creator'
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - apps/document-map-creator/**/*
        - packages/**/*

build-document-map-creator-prod:
  stage: build
  extends: .build-image
  variables:
    ENV: 'prod'
    VERSION: '${CI_PIPELINE_IID}'
    MICROSERVICE: 'document-map-creator'
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - apps/document-map-creator/**/*
        - packages/**/*

build-document-map-pool-integ:
  stage: build
  extends: .build-image
  variables:
    ENV: 'integ'
    VERSION: '${CI_PIPELINE_IID}'
    MICROSERVICE: 'document-map-pool'
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - apps/document-map-pool/**/*
        - packages/**/*

build-document-map-pool-prod:
  stage: build
  extends: .build-image
  variables:
    ENV: 'prod'
    VERSION: '${CI_PIPELINE_IID}'
    MICROSERVICE: 'document-map-pool'
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - apps/document-map-pool/**/*
        - packages/**/*

build-document-processor-integ:
  stage: build
  extends: .build-image
  variables:
    ENV: 'integ'
    VERSION: '${CI_PIPELINE_IID}'
    MICROSERVICE: 'document-processor'
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - apps/document-processor/**/*
        - packages/**/*

build-document-processor-prod:
  stage: build
  extends: .build-image
  variables:
    ENV: 'prod'
    VERSION: '${CI_PIPELINE_IID}'
    MICROSERVICE: 'document-processor'
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - apps/document-processor/**/*
        - packages/**/*

deploy-document-crud-integ:
  stage: deploy
  extends: .deploy-image
  variables:
    ENV: 'integ'
    MICROSERVICE: 'document-crud'
    OPENSHIFT_PROJECT_NAME: overlays-integ-document-crud
    OPENSHIFT_HOST: 'https://api.${DEPLOYMENT_MAIN_ENV}:6443'
    APP_VERSION: '${CI_PIPELINE_IID}'
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - apps/document-crud/**/*
        - packages/**/*

deploy-document-crud-prod:
  stage: deploy
  extends: .deploy-image
  variables:
    ENV: 'prod'
    MICROSERVICE: 'document-crud'
    OPENSHIFT_PROJECT_NAME: overlays-prod-document-crud
    OPENSHIFT_HOST: 'https://api.${DEPLOYMENT_MAIN_ENV}:6443'
    APP_VERSION: '${CI_PIPELINE_IID}'
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - apps/document-crud/**/*
        - packages/**/*

deploy-document-map-creator-integ:
  stage: deploy
  extends: .deploy-image
  variables:
    ENV: 'integ'
    MICROSERVICE: 'document-map-creator'
    OPENSHIFT_PROJECT_NAME: overlays-integ-document-map-creator
    OPENSHIFT_HOST: 'https://api.${DEPLOYMENT_MAIN_ENV}:6443'
    APP_VERSION: '${CI_PIPELINE_IID}'
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - apps/document-map-creator/**/*
        - packages/**/*

deploy-document-map-creator-prod:
  stage: deploy
  extends: .deploy-image
  variables:
    ENV: 'prod'
    MICROSERVICE: 'document-map-creator'
    OPENSHIFT_PROJECT_NAME: overlays-prod-document-map-creator
    OPENSHIFT_HOST: 'https://api.${DEPLOYMENT_MAIN_ENV}:6443'
    APP_VERSION: '${CI_PIPELINE_IID}'
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - apps/document-map-creator/**/*
        - packages/**/*

deploy-document-map-pool-integ:
  stage: deploy
  extends: .deploy-image
  variables:
    ENV: 'integ'
    MICROSERVICE: 'document-map-pool'
    OPENSHIFT_PROJECT_NAME: overlays-integ-document-map-pool
    OPENSHIFT_HOST: 'https://api.${DEPLOYMENT_MAIN_ENV}:6443'
    APP_VERSION: '${CI_PIPELINE_IID}'
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - apps/document-map-pool/**/*
        - packages/**/*

deploy-document-map-pool-prod:
  stage: deploy
  extends: .deploy-image
  variables:
    ENV: 'prod'
    MICROSERVICE: 'document-map-pool'
    OPENSHIFT_PROJECT_NAME: overlays-prod-document-map-pool
    OPENSHIFT_HOST: 'https://api.${DEPLOYMENT_MAIN_ENV}:6443'
    APP_VERSION: '${CI_PIPELINE_IID}'
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - apps/document-map-pool/**/*
        - packages/**/*

deploy-document-processor-integ:
  stage: deploy
  extends: .deploy-image
  variables:
    ENV: 'integ'
    MICROSERVICE: 'document-processor'
    OPENSHIFT_PROJECT_NAME: overlays-integ-document-processor
    OPENSHIFT_HOST: 'https://api.${DEPLOYMENT_MAIN_ENV}:6443'
    APP_VERSION: '${CI_PIPELINE_IID}'
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - apps/document-processor/**/*
        - packages/**/*

deploy-document-processor-prod:
  stage: deploy
  extends: .deploy-image
  variables:
    ENV: 'prod'
    MICROSERVICE: 'document-processor'
    OPENSHIFT_PROJECT_NAME: overlays-prod-document-processor
    OPENSHIFT_HOST: 'https://api.${DEPLOYMENT_MAIN_ENV}:6443'
    APP_VERSION: '${CI_PIPELINE_IID}'
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - apps/document-processor/**/*
        - packages/**/*
